body
{
    background-image: url('../../image/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#div-game
{
    margin-left: 10%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    width: 1040px;
    border-radius: 20px;
}

#box-game
{
    position: relative;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    background: linear-gradient(rgb(220, 235, 245), rgba(62, 28, 163, 0.719));
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.771);
}

#img-game img
{
    border-radius: 10px;
}

#det
{
    padding: 8px 18px 0 18px;
    color: rgb(255, 255, 255);
}

#name-creator
{
    font-size: 20px;
    color: rgb(40, 40, 40);
}


.sell-date
{
    display: flex;
    justify-content: space-between;
}.sell #date-game{
    font-size: 18px;
}.sell-date #sell{
    color: rgb(0, 254, 0);
}